# Laravel core
/vendor
/node_modules

# Environment files (VERY IMPORTANT — contains secrets)
.env
.env.backup
.env.production

# Application cache & logs
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# Public storage symlink
/public/storage

# Laravel Mix / Vite
/public/hot
/public/build

# PHPUnit
.phpunit.result.cache

# Composer
composer.lock

# NPM
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE files
/.idea
/.vscode

# OS files
.DS_Store
Thumbs.db

# Debug tools
npm-debug.log
yarn-error.logs
